<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
    {{> header}}
</head>
<body class="  ">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    <main class="main-content">
        {{> sidebar}}
    </main>    
 
    <!-- Fin Barra lateral -->
<aside class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all ">
    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->
</aside>
              
    <!-- Inicio contenido -->      
    <div class="container-fluid content-inner">
        plantilla
    </div>
    <!-- Fin contenido --> 

    {{> footer}}
</body>
</html>